.home {
    background-image: url('./vitruvian\ man\ anatomy.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 0.1px;
    margin: 0;
}

.button {
    padding: .5rem 2rem;
    border: 1px solid slategrey;
    cursor: pointer;
    user-select: none;
    display: inline-block;
  }

.dark-color {
    color: darkslategrey;
    border-color: slategrey;
}

.landing-info {
    font-family: 'Permanent Marker', cursive; 
    text-align: center;
    background-color:'rgba(42, 71, 88, 0.521'
}